<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guo.school.dao.PermissionDao">

    <insert id="insert" parameterType="Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO permission (name) VALUES (#{name})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM permission WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Role">
        UPDATE permission SET name = #{name} WHERE id = #{id}
    </update>

    <select id="listPermissionByRoleId" parameterType="java.lang.Integer" resultType="Permission">
        SELECT p.* FROM role_permission rp inner join permission p on rp.permissionId=p.id  WHERE rp.roleid = #{roleId}
    </select>
    
      <select id="listPermissions" resultType="Permission">
        SELECT * FROM permission
    </select>
    
    

</mapper>